@import "tailwindcss";
@import "basecoat-css";
@import "./theme.css";

@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";


@utility masonry {
    display: grid-lanes;
    
    /* display: grid; */
}

@-webkit-document url-prefix() {}

@-moz-document url-prefix() {
    .masonry {
        display: grid;
        grid-template-rows: masonry;
    }
}

@theme inline {
    --font-capriola: var(--font-capriola);
    --font-bio-rhyme: var(--font-bio-rhyme);
    --font-martian-mono: var(--font-martian-mono);
    --font-inter: var(--font-inter);
    --font-source-serif: var(--font-source-serif);
    --font-jetbrians-mono: var(--font-jetbrians-mono);
    --font-dm-sans: var(--font-dm-sans);
    --font-lora: var(--font-lora);
    --font-ibm-plex-mono: var(--font-ibm-plex-mono);
    --font-montserrat: var(--font-montserrat);
    --font-merriweather: var(--font-merriweather);
    --font-ubuntu-mono: var(--font-ubuntu-mono);
    --font-charmonman: var(--font-charmonman);
    --font-almendra: var(--font-almendra);
    --font-workbench: var(--font-workbench);
    --font-oxanium: var(--font-oxanium);
    --font-source-code-pro: var(--font-source-code-pro);
    --font-libre-baskerville: var(--font-libre-baskerville);
    --font-vt323: var(--font-vt323);
    --font-homenaje: var(--font-homenaje);
    --font-arvo: var(--font-arvo);
    --font-roboto: var(--font-roboto);
    --font-roboto-mono: var(--font-roboto-mono);
}