@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@theme inline {

  --font-sans: Numans, ui-sans-serif, sans-serif, system-ui;

  --font-mono: Space Mono, ui-monospace, monospace;

  --font-serif: Cormorant Upright, ui-serif, serif;

  --radius: 1.025rem;

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);

  --tracking-tight: calc(var(--tracking-normal) - 0.025em);

  --tracking-wide: calc(var(--tracking-normal) + 0.025em);

  --tracking-wider: calc(var(--tracking-normal) + 0.05em);

  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --tracking-normal: var(--tracking-normal);

  --shadow-2xl: var(--shadow-2xl);

  --shadow-xl: var(--shadow-xl);

  --shadow-lg: var(--shadow-lg);

  --shadow-md: var(--shadow-md);

  --shadow: var(--shadow);

  --shadow-sm: var(--shadow-sm);

  --shadow-xs: var(--shadow-xs);

  --shadow-2xs: var(--shadow-2xs);

  --spacing: var(--spacing);

  --letter-spacing: var(--letter-spacing);

  --shadow-offset-y: var(--shadow-offset-y);

  --shadow-offset-x: var(--shadow-offset-x);

  --shadow-spread: var(--shadow-spread);

  --shadow-blur: var(--shadow-blur);

  --shadow-opacity: var(--shadow-opacity);

  --color-shadow-color: var(--shadow-color);

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive-foreground: var(--destructive-foreground);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --color-background: var(--background);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --radius-2xl: calc(var(--radius) + 8px);

  --radius-3xl: calc(var(--radius) + 12px);

  --radius-4xl: calc(var(--radius) + 16px);
}

:root {

  --background: oklch(0.9214 0.0331 266.9286);

  --foreground: oklch(0.2138 0.0019 286.2347);

  --card: oklch(0.9323 0.0250 263.3267);

  --card-foreground: oklch(0.2138 0.0019 286.2347);

  --popover: oklch(0.8664 0.0340 228.3673);

  --popover-foreground: oklch(0.3015 0.0565 230.1611);

  --primary: oklch(0.8453 0.0638 266.3141);

  --primary-foreground: oklch(0.4819 0.2474 263.1772);

  --secondary: oklch(0.6052 0.0203 351.5497);

  --secondary-foreground: oklch(0.9562 0.0094 352.3635);

  --muted: oklch(0.8453 0.0638 266.3141);

  --muted-foreground: oklch(0.5555 0 0);

  --accent: oklch(0.8756 0.0577 253.2765);

  --accent-foreground: oklch(0.4053 0.1043 286.4867);

  --destructive: oklch(0.6346 0.0841 353.9536);

  --destructive-foreground: oklch(0.3423 0.1405 29.2339);

  --border: oklch(0.8205 0.0832 262.0095);

  --input: oklch(0.9219 0 0);

  --ring: oklch(0.7090 0 0);

  --chart-1: oklch(0.8093 0.0985 252.2024);

  --chart-2: oklch(0.6207 0.1894 259.9358);

  --chart-3: oklch(0.5495 0.2202 263.0917);

  --chart-4: oklch(0.4893 0.2202 264.0405);

  --chart-5: oklch(0.4210 0.1792 266.0094);

  --radius: 1.025rem;

  --sidebar: oklch(0.8205 0.0832 262.0095);

  --sidebar-foreground: oklch(0.2354 0.0019 286.2536);

  --sidebar-primary: oklch(0.9005 0.0579 230.9106);

  --sidebar-primary-foreground: oklch(0.6906 0.1369 229.5196);

  --sidebar-accent: oklch(0.6053 0.1251 233.0364);

  --sidebar-accent-foreground: oklch(0.9556 0.0453 203.2256);

  --sidebar-border: oklch(0.4242 0.1982 265.4989);

  --sidebar-ring: oklch(0.5405 0.2811 292.8523);

  --font-sans: Numans, ui-sans-serif, sans-serif, system-ui;

  --font-serif: Cormorant Upright, ui-serif, serif;

  --font-mono: Space Mono, ui-monospace, monospace;

  --shadow-color: oklch(0 0 0);

  --shadow-opacity: 0.1;

  --shadow-blur: 3px;

  --shadow-spread: 0px;

  --shadow-offset-x: 0;

  --shadow-offset-y: 1px;

  --letter-spacing: 0em;

  --spacing: 0.25rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);

  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);

  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);

  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --tracking-normal: 0em;
}

.dark {

  --background: oklch(0.2138 0.0019 286.2347);

  --foreground: oklch(0.9851 0 0);

  --card: oklch(0.2138 0.0019 286.2347);

  --card-foreground: oklch(0.9851 0 0);

  --popover: oklch(0.2686 0 0);

  --popover-foreground: oklch(0.9851 0 0);

  --primary: oklch(0.9219 0 0);

  --primary-foreground: oklch(0.2138 0.0019 286.2347);

  --secondary: oklch(0.2686 0 0);

  --secondary-foreground: oklch(0.9851 0 0);

  --muted: oklch(0.2686 0 0);

  --muted-foreground: oklch(0.7090 0 0);

  --accent: oklch(0.3715 0 0);

  --accent-foreground: oklch(0.9851 0 0);

  --destructive: oklch(0.7036 0.1881 22.1462);

  --destructive-foreground: oklch(0.9851 0 0);

  --border: oklch(0.2768 0 0);

  --input: oklch(0.3250 0 0);

  --ring: oklch(0.5555 0 0);

  --chart-1: oklch(0.8093 0.0985 252.2024);

  --chart-2: oklch(0.6207 0.1894 259.9358);

  --chart-3: oklch(0.5495 0.2202 263.0917);

  --chart-4: oklch(0.4893 0.2202 264.0405);

  --chart-5: oklch(0.4210 0.1792 266.0094);

  --radius: 1.025rem;

  --sidebar: oklch(0.2138 0.0019 286.2347);

  --sidebar-foreground: oklch(0.9851 0 0);

  --sidebar-primary: oklch(0.4878 0.2432 264.4045);

  --sidebar-primary-foreground: oklch(0.9851 0 0);

  --sidebar-accent: oklch(0.2686 0 0);

  --sidebar-accent-foreground: oklch(0.9851 0 0);

  --sidebar-border: oklch(0.2768 0 0);

  --sidebar-ring: oklch(0.4386 0 0);

  --font-sans: Numans, ui-sans-serif, sans-serif, system-ui;

  --font-serif: Cormorant Upright, ui-serif, serif;

  --font-mono: Space Mono, ui-monospace, monospace;

  --shadow-color: oklch(0 0 0);

  --shadow-opacity: 0.1;

  --shadow-blur: 3px;

  --shadow-spread: 0px;

  --shadow-offset-x: 0;

  --shadow-offset-y: 1px;

  --letter-spacing: 0em;

  --spacing: 0.25rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);

  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);

  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);

  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}