:root {
    --radius: 10px;
    --base-color: oklch(95.705% 0.04021 192.837);
    --base-color2: oklch(76.799% 0.16258 163.881);
    --texture-name: "TCom_Animated_WaterCaustics_512_overlay";
    /* --font-fancy: var(--font-sofadi-one); */
}

/*
html {
    background: url("@/assets/images/textures/TCom_Animated_WaterCaustics_512_overlay-colored.png");
    background-size: 512px 512px;
    background-repeat: repeat;
    background-attachment: fixed;
}
*/

html {
    position: relative;
    background: linear-gradient(oklch(36.894% 0.13452 270.78), oklch(31.575% 0.10898 271.189) 15%, oklch(40.194% 0.07477 172.676) 85%, oklch(35.63% 0.05972 188.217) 105%);
    background-repeat: repeat;
    background-size: 2000px 1000px;
}

html::after {
    content: '';
    inset: 0;
    position: fixed;
    background-size: cover;
    --webkit-mask-image: url("@/assets/images/textures/TCom_Animated_WaterCaustics_512_overlay.png"), url("@/assets/images/textures/TCom_Animated_WaterCaustics_512_overlay.png");
    mask-image: url("@/assets/images/textures/TCom_Animated_WaterCaustics_512_overlay.png"), url("@/assets/images/textures/TCom_Animated_WaterCaustics_512_overlay.png");
    z-index: -1;
    --webkit-mask-mode: luminance;
    mask-mode: luminance;
    --webkit-mask-size: 2160px 2160px, 512px 512px;
    mask-size: 2160px 2160px, 512px 512px;
    background: linear-gradient(oklch(74.8% 0.24486 142.96 / 0.466), oklch(73.792% 0.1004 226.754 / 0.548));
    --webkit-mask-composite: exclude, include;
    mask-composite: exclude, include;
}

body {
    background: url("@/assets/images/canoe.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 650px;
    margin: 0px auto;
    padding: 0px;
    border: 2px solid transparent;
}

main {
    border: 2px solid transparent;
    max-width: 500px;
    width: fit-content;
    margin-top: 59%;
    margin-left: 34%;
}

nav {
    border: 2px solid transparent;
    max-width: 200px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color: oklch(94.844% 0.04483 78.035 / 0.253);
}

.nav-link {
    /* background-color: oklch(54.313% 0.09273 194.807); */
    background: linear-gradient(to bottom, oklch(56.381% 0.09232 79.947), rgba(90, 89, 11, 0.952));
    color: oklch(85.608% 0.20679 123.021);
    /* font-family: var(--font-fancy); */
    font-family: var(--font-sofadi-one);
    font-size: 18pt;
    padding: 2px 5px;
    border-radius: var(--radius);
    border: 5px outset oklch(68.348% 0.0082 187.327);
    text-decoration-line: none;
}

.active {
    /* background-color: oklch(38.135% 0.08545 158.467); */
    background: radial-gradient(oklch(67.96% 0.0862 81.749) 50%, oklch(47.506% 0.07865 96.619));
    color: oklch(57.373% 0.23367 262.678);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    border-style: inset;

}